<form  id="<%= form[:name] %>" name="<%= form[:name] %>" action="<%= form[:action] %>" method="<%= form[:method] || "post" %>" class='form-horizontal'>
  <fieldset form="<%= form[:name] %>">
    <legend><%= form[:command_name] %></legend>
    <p><%= form[:docs] %></p>
    <%= Rubysite::Html.generate_fields(form[:fields]) %>
    <%= Rubysite::Html.gen_form_buttons(!form[:fields].empty?) %>
  </fieldset>
</form>